* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #E8F1F2;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* LAYUOT */
.center{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}

/* LOGIN */
.login{
  padding: 40px;
  
  background-color: #fff;
  border-radius: 15px;

  .login_main{
    margin-top: 20px;

    div{
      margin-left: 0;
      margin-bottom: 20px;
      
      label{
        display: block;
        margin-bottom: 5px;
        
        color: #000;
        font-size: 20px;
        font-weight: 500;
      }

      .text-center{
        text-align: center;
      }
    }

    .checkbox{
      display: flex;
      align-items: center;
      input{
        width: 18px;
        height: 18px;
        margin-right: 5px;
      }
    }
  }

  .back{
    margin-top: 20px;
    background-color: transparent;

    color: #000;
    font-size: 18px;
    font-weight: 400;
  }
}